/* Based on Andy Bell's "The Un-reset CSS" (https://piccalil.li/blog/a-modern-css-reset/) */
/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

/* Remove default padding on lists */
ul[class], ol[class] {
  padding: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth; /* Optional */
  height: 100%;
}

/* Set core body defaults */
body {
  min-height: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class], ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button, textarea, select {
  font: inherit;
}

/* Remove animations, transitions for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}